<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="salmonbooks.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        /* .titleMenuIcon:hover{
        animation-duration: 2s;
        animation-name: slidein;  
    } */
        .a {
            animation-duration: 2s;
            animation-name: slidein;
            font-size: 15px;
            margin-top: 10px;
            display: inline-block;
        }

        @keyframes slidein {
            from {
                font-size: 0px;
                color: #FF6F61;
            }

            to {
                font-size: 15px;
                color: white;
            }
        }
    </style>
</head>

<body>
    <div class="titlebar">
        <div style="float: right;" onclick="{ this.innerHTML = 'logout';}"><a href="LoginPage.html"
                style="text-decoration: none; color : white">Login</a></div>
        <div class="titlelogo">Salmon Page</div>
        <div class="titleMenu">
            <div class="titleMenuIcon"><a style="border-bottom: 5px solid bisque;"><a href="index.html">홈</a>
            </div>
            <div class="titleMenuIcon"><a href="FreeNovelPage.html">무료</a></div>
            <div class="titleMenuIcon"><a href="ChargedNovelPage.html">유료</a></div>
            <div class="titleMenuIcon"><a href="EndNovelPage.html">완결</a></div>
            <div class="titleMenuIcon"><a style="border-bottom: 5px solid bisque;" href="community.html">커뮤니티</a>
                <div class="a">자유게시판</div>
                <div class="a">감상평</div>
            </div>
        </div>
    </div>
    <div class="novelContainer">
        <div class="novelPanel" style="margin-top: 0px;">
            <ul class="novelList" style="margin-top: 0px;">
                <li class="novelListItem">
                    <table>
                        <tr>
                            <td rowspan="3"><img class="novelImage" src="frame-399537_1280.jpg" style="width : 182px">
                            </td>
                            <td class="novelSubject">
                                <h4>[기타]예지때문에 다 망했어요 어쩌죠...?<br><br></h4>
                                <p class="novelFont">예지때문에 다 망했네요... 하...</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="novelFont"> 예다망망망 | 추천 0 | 조회 990 | 17 : 55 </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr></tr>
                    </table>
                </li>
                <li class="novelListItem">
                    <table>
                        <tr>
                            <td rowspan="3"><img class="novelImage" src="frame-399537_1280.jpg"></td>
                            <td class="novelSubject" style="">
                                <h4>[잡담]8월 2일까지 만들으래요 개빡<br><br></h4>
                                <p class="novelFont">학원그만두고 싶네요...</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="novelFont"> 예다망망망 | 추천 0 | 조회 990 | 17 : 55 </td>
                        </tr>
                        <tr>
                            <td style="color : white;">&nbsp;</td>
                        </tr>
                        <tr></tr>
                    </table>
                </li>
                <li class="novelListItem">
                    <table>
                        <tr>
                            <td rowspan="3"><img class="novelImage" src="frame-399537_1280.jpg"></td>
                            <td class="novelSubject" style="">
                                <h4>[감상]초예지님 작품 너무 재밌네요!<br><br></h4>
                                <p class="novelFont">근데 전 별로였어요.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="novelFont"> 예다망망망 | 추천 0 | 조회 990 | 17 : 55 </td>
                        </tr>
                        <tr>
                            <td style="color : white;">&nbsp;</td>
                        </tr>
                        <tr></tr>
                    </table>
                </li>
                <li class="novelListItem">
                    <table>
                        <tr>
                            <td rowspan="3"><img class="novelImage" src="frame-399537_1280.jpg"></td>
                            <td class="novelSubject" style="">
                                <h4>[감상]초예지님 작품 너무 재밌네요!<br><br></h4>
                                <p class="novelFont">근데 전 별로였어요.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="novelFont"> 예다망망망 | 추천 0 | 조회 990 | 17 : 55 </td>
                        </tr>
                        <tr>
                            <td style="color : white;">&nbsp;</td>
                        </tr>
                        <tr></tr>
                    </table>
                </li>
                <li class="novelListItem">
                    <table>
                        <tr>
                            <td rowspan="3"><img class="novelImage" src="frame-399537_1280.jpg"></td>
                            <td class="novelSubject" style="">
                                <h4>[감상]초예지님 작품 너무 재밌네요!<br><br></h4>
                                <p class="novelFont">근데 전 별로였어요.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="novelFont"> 예다망망망 | 추천 0 | 조회 990 | 17 : 55 </td>
                        </tr>
                        <tr>
                            <td style="color : white;">&nbsp;</td>
                        </tr>
                        <tr></tr>
                    </table>
                </li>
                <li class="novelListItem">
                    <table>
                        <tr>
                            <td rowspan="3"><img class="novelImage" src="frame-399537_1280.jpg"></td>
                            <td class="novelSubject">
                                <h4>[감상]초예지님 작품 너무 재밌네요!<br><br></h4>
                                <p class="novelFont">근데 전 별로였어요.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="novelFont"> 예다망망망 | 추천 0 | 조회 990 | 17 : 55 </td>
                        </tr>
                        <tr>
                            <td style="color : white;">&nbsp;</td>
                        </tr>
                        <tr></tr>
                    </table>
                </li>
            </ul>
            <div
                style="border-top: 1px solid gray; height : 10%; width : 50%; padding :5% 0% 5% 40%; margin-left: auto; margin-right : auto; background: white;">
                <div style="text-align: center; display: inline;">
                    <a href="#" style="font-size: 60%; color: rgb(118, 118, 118)">©SalmonisDelicious</a></div>
                <span style="color: rgb(230, 230, 230); display: inline;">|</span>
                <div style="text-align: left; text-align: center;  display : inline;">
                    <a href="#" style="font-size: 60%; color: rgb(118, 118, 118)">고객센터</a></div>
            </div>
        </div>
        <div>
        </div>
    </div>
</body>

</html>