<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salmon Books 로그인</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/SalmonBooks/resource/css/myPage.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div id="login" class="wrap">
    <div class="titlebar" id="head">
        <div class="titlelogo">Salmon Books</div>
    </div>
<!-- <hr style="border: #FFFFFF"> -->
    <div class="content loginform" id="content1">
        <div class="form-group">
            <div id="loginID">
            <!-- <label for="email">아이디 :</label> -->
            <input type="email" class="form-control" id="email" placeholder="아이디를 입력해주세요" name="email">
            </div>
        </div>
        <div class="form-group">
            <div id="loginID">
            <!-- <label for="pwd">비밀번호:</label> -->
            <input type="password" class="form-control" id="pwd" placeholder="비밀번호를 입력해주세요" name="pswd">
            </div>
        </div>
        <div class="form-group form-check">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"><small>아이디 저장</small>
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input class="form-check-input" type="checkbox" name="remember"><small>자동 로그인</small>
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-block " style="background-color: #FF6F61; color: #FFFFFF; border: #FF6F61">로그인</button>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col" style="text-align: center"><a href="/signIn.do" style="font-size: 80%; color: rgb(118, 118, 118)">회원가입</a></div>
            <span class="txt_bar" style="color: rgb(230, 230, 230)">|</span>
            <div class="col" style="text-align: center"><a href="#" style="font-size: 80%; color: rgb(118, 118, 118)">아이디/비밀번호 찾기</a></div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="foot row">
        <div class="col" style="text-align: right"><a href="#" style="font-size: 60%; color: rgb(118, 118, 118)">©SalmonisDelicious</a></div>
        <span style="color: rgb(230, 230, 230)">|</span>
        <div class="col" style="text-align: left;"><a href="#" style="font-size: 60%; color: rgb(118, 118, 118)">고객센터</a></div>
    </div>
</div>
</body>
</html>



