<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ServletProject</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>jdbc.DBCPInitListener</listener-class>
	</listener>
	<context-param>
		<param-name>poolConfig</param-name>
		<param-value>
  		jdbcdriver=oracle.jdbc.driver.OracleDriver
  		jdbcUrl=jdbc:oracle:thin:@localhost:1521:xe
  		dbUser=supersalmon
  		dbPass=supersalmon
  		validationQuery=select 1
  		mindle=3
  		maxTotal=30
  		poolName=salmonBooks
  	</param-value>
 
	</context-param>
	<servlet>
		<servlet-name>recommendUpdateServlet</servlet-name>
		<servlet-class>article.command.RecommendUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>freeboardWriteCommentServlet</servlet-name>
		<servlet-class>article.command.FreeboardWriteCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReviewBoardWriteCommentServlet</servlet-name>
		<servlet-class>reviewboard.article.command.ReviewBoardWriteCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReviewRecommendUpdateServlet</servlet-name>
		<servlet-class>reviewboard.article.command.ReviewRecommendUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>controllerUsingURI</servlet-name>
		<servlet-class>mvc.controller.ControllerUsingURI</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>
  			/WEB-INF/commandHandlerURI.properties
  		</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>recommendUpdateServlet</servlet-name>
		<url-pattern>/freeboard/recommend.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>freeboardWriteCommentServlet</servlet-name>
		<url-pattern>/freeboard/commentWrite.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReviewBoardWriteCommentServlet</servlet-name>
		<url-pattern>/reviewboard/commentWrite.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReviewRecommendUpdateServlet</servlet-name>
		<url-pattern>/reviewboard/recommend.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>controllerUsingURI</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>util.CharacterEncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>EncryptFilter</filter-name>
		<filter-class>filter.EncryptFilter</filter-class>
	</filter>
	<filter>
		<filter-name>FreeCheckFilter</filter-name>
		<filter-class>filter.FreeCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncryptFilter</filter-name>
		<url-pattern>/login.do</url-pattern>
		<url-pattern>/signin.do</url-pattern>
		<url-pattern>/myPage_1.do</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/freeboard/write.do</url-pattern>
		<url-pattern>/reviewboard/write.do</url-pattern>
		<url-pattern>/novelEnroll.do</url-pattern>
		<url-pattern>/novelUpload.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FreeCheckFilter</filter-name>
		<url-pattern>/ViewNovel.do</url-pattern>
	</filter-mapping>
</web-app>